.bx-breadcrumb {
	display: flex;
  justify-content: center;
}
.main__breadcrumb {
  display: block;
  margin: 0 auto;
  width: 300px;
  list-style: none;
  background-color: #FF6040;
  margin-top: 17px;
}
.bx-breadcrumb i {
	color: #b5bdc2;
	line-height: 13px;
	font-size: 12px;
	vertical-align: middle;
	margin-right: 5px;
}
.bx-breadcrumb .bx-breadcrumb-item {
  padding: 6px 2px;
  color: #E1E1E1;;
}

.bx-breadcrumb-item a span{
  color: #E1E1E1;
}
.bx-breadcrumb-item span {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 11.6913px;
  line-height: 13px;
  text-align: center;
  color: #fff;
}
.bx-breadcrumb .bx-breadcrumb-item a {border-bottom: none;}
.bx-breadcrumb .bx-breadcrumb-item a:hover {}
